body {
  margin: 0;
  padding: 0;
  background-color: #42423e;
}
.container {
  height: 500px;
  margin: auto;
  width: 500px;
  background-color: hsl(250, 37%, 32%);
  border-radius: 50%;
  position: relative;
  display: flex;
  border: 5px solid #330615;
  justify-content: center;
  align-items: center;
}

#hour {
  width: 2.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
  position: absolute;
  background: rgb(129, 248, 18);
  border-radius: 10px;
  transform-origin: bottom;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
  position: absolute;
  background: rgb(231, 235, 11);
  border-radius: 10px;
  transform-origin: bottom;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
  position: absolute;
  background: rgb(231, 145, 14);
  border-radius: 10px;
  transform-origin: bottom;
}

#dot {
  background-color: rgb(37, 19, 49);
  border-radius: 50%;
  font-size: 100px;
  width: 20px;
  align-items: center;
  box-shadow: 0 0 10px white;
  height: 20px;
  border-color: yellow;
  border-style: solid;
  background-color: rgb(16, 17, 16);
  justify-content: center;
  position: absolute;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  position: absolute;
  z-index: 0;
  font-size: 4rem;
  color: rgb(215, 240, 238);
}
.one {
/*   top: -190px;
  left: 328px; */
  top: 4%;
  left: 66%;
}
.two {
/*   top: -118px;
  left: 380px; */
   top: 20%;
   left: 85%;
}
.three {
/*   top: -6px;
  left: 388px; */
  top: 41.5%;
  left: 92%;
}
.four {
/*   top: 110px;
  left: 320px; */
  top: 65%;
  left: 85%;
}
.five {
/*   top: 190px;
  left: 210px; */
  top: 81%;
  left: 68%;
}
.six {
/*   top: 218px;
  right: -64px; */
/*   top: 86%;
  right: 47%; */
  top: 86.6%;
  right: 47%;
}
.seven {
/*   top: 190px;
  right: 74px; */
  top: 81%;
  right: 68%;
}
.eight {
/*   top: 108px;
  right: 195px; */
/*   top: 63.5%;
  left: 7.8%; */
  top: 63.8%;
  left: 7.4%;
}
.nine {
/*   right: 262px; */
  right: 92%;
  top: 41.5%;
}
.ten {
/*   top: -100px;
  right: 270px; */
  top: 21.8%;
  right: 79%;
}
.eleven {
/*   top: -182px;
  right: 260px; */
/*   top: 6%;
  right: 65%; */
   top: 8.2%;
  right: 65%;
}

.twelve {
/*   top: -215px;
  right: 210px; */
  top: 0%;
  right: 44%;
}
h1 {
  color: #ee8711;
  font-size: 60px;
  text-align: center;
}
